main{
    div{
        padding: 2px;
        img{
            width: 100%;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        &:hover{
            border: 0px solid white;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        }
        p{
            padding: 20px;
        }
    }
}

