section{
    div{
        h1{
            padding-bottom: 40px;
            padding: 20px;
        }
        iframe{
            padding: 10px;
            margin: 20px;
            height: 500px;
            width: auto;
        }
    }
}